body {
	font-family: Verdana;
	font-size: 12px;
	width:100%;
}

#checkin {
	margin: 50 auto;
	text-align: center;

}

#glance-results {
	color:red;
}

table {
	padding-left:50px;
	margin:0 auto;
}

th {
	height: 20px;
	font-size: 12px;
	margin:0 auto;
	text-align: left;
	margin-left: 50px;
}


td {
	font-size: 13px;
	width:160px;
	font-size: 10px;
}

h2 {
	text-align: center;
	color:#aaa;
}

a:link{
	color:black;
	text-decoration: none;
}

.non-pro{
	width:10;
	height:10;
	color:#00cc00;
}

