body {

	font-family: 'Open Sans', sans-serif;
}

/* Block that covers all input field up "Las 20 items" */
#checkin {
	margin: 0 auto;
	font-size: 11px;
	text-align: center;


}

/*Start entries for the results page*/

#product_results {
	margin-top: 35px;
	margin-left:120;
};

/*End entries for the results page*/


#button {
	width:200px;
	text-align: center;
	margin:auto;
};

#delete {
	background-color:green;
}


input[type=submit]{
	font-size:13px;
	margin-top:10px;
	width:120px;
	background-color: steelblue;
	color:white;
	border: 1px solid black;

	
}

/* Start colors for all of the products */

.batt {
	width:120px;
	background-color: #1abc9c;
	text-align: center;
	color:white;
	padding:1px;
}

.pprobe {
	width:120px;
	background-color: #CCCC99;
	text-align: center;
	color:white;
	padding:1px;
}

.ishower {
	width:120px;
	background-color: #3498db;
	color:white;
	text-align: center;
	padding: 1px;
}

.igrill2 {
	width:120px;
	background-color: #9b59b6;
	color:white;
	text-align: center;
	padding: 1px;
}

.mini {
	width:120px;
	background-color:#ff0000;
	color:white;
	text-align: center;
	padding: 1px;

}

.ccell {
	width:120px;
	background-color:#f39c12;
	color:white;
	text-align: center;
	padding: 1px;
}

.magdisc {
	width:120px;
	background-color:#CCCFFF;
	color:white;
	text-align: center;
	padding: 1px;
	
}

.base {
	width:120px;
	background-color:#000000;
	text-align: center;
	padding: 1px;
	margin-bottom: 1px;
}

.pwrap {
	width:120px;
	background-color:#9999cc;
	color:white;
	text-align: center;
	padding: 1px;
}

.grate {
	width:120px;
	background-color:#CCCCCC;
	color:white;
	text-align: center;
	padding: 1px;
	margin-bottom: 1px;
}

.pindic {
	width:120px;
	background-color:#bdc3c7;
	color:white;
	text-align: center;
	padding: 1px;
}

#non-pro{
	width:10;
	height:10;
	color:#00cc00;
}

/* End colors for all of the products */

.thenotes {
	font: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
	width:700px;
	color:black;
	border-bottom:3px solid #ddd;
	border-top:3px solid #ddd;
}


table {
	table-layout: fixed;
	width:500px;
	font-family: 'Open Sans', sans-serif;
}

th {
	width:200px;
	height: 20px;
	font-size: 15px;
	margin:0 auto;
	text-align: left;
	margin-left: 50px;

}


td {
	font-size: 13px;
	width:30px;	
	margin-top: 35px;
	margin-left:120;
}

tr {
	width:100px;

}

#lastItems {
	font-size:20px;
	text-align:center;
	color:#bbb;
	margin-top:50px;
}


a:link{
	color:black;
	text-decoration: none;
}


#head_name{
	text-align: center;
	color:red;
	font-size: 25px;
}

#human_syntax {
	text-align: center;

}


a {
	color:white;
}

a:visited{
	color:#FFF;
}

#glance-results{
	font:12px;
}

textarea {
	margin-top: 15px;
}
