body {
	font-family: 'Open Sans', sans-serif;
}

#checkin {
	width:650px;
	margin:50 auto;
	font-size: 11px;
	text-align: center;

}

#buttons {
	margin-top:1px;
	padding-left: 5px;
};

#delete {
	background-color:green;
}


input[type=submit]{
	margin-top:10px;
	width:80px;
	background-color: steelblue;
	color:white;
	border: 1px solid black;

	
}

#batt {
	width:120px;
	background-color: #1abc9c;
	text-align: center;
	color:white;
	padding:1px;
}

#pprobe {
	width:120px;
	background-color: #2ecc71;
	text-align: center;
	color:white;
	padding:1px;
}

#ishower {
	width:120px;
	background-color: #3498db;
	color:white;
	text-align: center;
	padding: 1px;
}

#igrill2 {
	width:120px;
	background-color: #9b59b6;
	color:white;
	text-align: center;
	padding: 1px;
}

#mini {
	width:120px;
	background-color:#ff0000;
	color:white;
	text-align: center;
	padding: 1px;

}

#ccell {
	width:120px;
	background-color:#f39c12;
	color:white;
	text-align: center;
	padding: 1px;
}

#magdisc {
	width:120px;
	background-color:#d35400;
	color:white;
	text-align: center;
	padding: 1px;
	
}

#base {
	width:120px;
	background-color:#d35400;
	text-align: center;
	padding: 1px;
	margin-bottom: 1px;
}

#glance-results {
	color:red;

}

table {
	font-size: 15px;
	padding-left:50px;
	margin:0 auto;

}

th {
	height: 20px;
	font-size: 15px;
	margin:0 auto;
	text-align: left;
	margin-left: 50px;

}


td {
	font-size: 13px;	
	width:180px;
}

tr {
	border:1px solid #000;
}

h2 {
	text-align: center;
	color:#aaa;
}


a:link{
	color:black;
	text-decoration: none;
}

.non-pro{
	width:10;
	height:10;
	color:#00cc00;
}

#head_name{
	color:red;
	font-size: 30px;
}

#pwrap {
	width:120px;
	background-color:#e74c3c;
	color:white;
	text-align: center;
	padding: 1px;
}

#grate {
	width:120px;
	background-color:#c0392b;
	color:white;
	text-align: center;
	padding: 1px;
	margin-bottom: 1px;
}

#pindic {
	width:120px;
	background-color:#bdc3c7;
	color:white;
	text-align: center;
	padding: 1px;
}

a {
	color:white;
}

a:visited{
	color:#fff;
}

#glance-results{
	font:12px;
}

textarea {
	margin-top: 15px;
}
