body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin:0;
	padding:0;
}

a {
	color:#fff;
}

a:visited{
	color:#000;
}

.checkoutpage #viewtable {
	margin: 0 auto;
	width:1000px;
	table-layout: fixed;
	margin: 0 auto;
	border-spacing: 0;
	-webkit-border-radius:10px;
}

.checkoutpage #checkin {
	margin: 0 auto;
	font-size: 9px;
	text-align: center;
	width:810px;
	min-width: 800px;
}

.checkoutpage td {
	border-bottom: 1px solid black;
}

.checkoutpage .resultdata {
	margin-top: 20px;
}

.checkoutpage td {
	font-size: 11px;
	height:50px;
	border-left:0;
	border-right:0;
	padding:0;
	margin:0;
	background-color: #eee;
}

.checkoutpage .product_sent {
	background-color: steelblue;
	padding:none;
	text-align: center;
	border-left:1px solid black;
}

.customerspage table {
	table-layout: fixed;
	width:1000px;
	margin: 0 auto;
	border-spacing: 0;
	border-bottom:1px solid #ddd;
	-webkit-border-radius:1px;
	background-color: #eee;
}

.customerspage #customerName {
	width:150px;
	font-size: 25px;
	margin: 50px auto;
	color: maroon;
	padding:5px;
	text-align:center;
	border:1px solid #000;
}

/*styling for the last 20 items on the checkout table*/


.resultspage table{
	table-layout: fixed;
	width:1000px;
	margin: 0 auto;
	border-spacing: 0;
	-webkit-border-radius:1px;
	background-color: #eee;
}

.resultspage td{
	border-bottom: 1px solid #ddd;
	padding:5px;
}

.productcheckin {
	text-align: center;
	color:white;
	background-color: steelblue;
	padding:none;
	width:200px;

}

.outgoingTracking {
	font-size:8px;
}


.incomingTracking {
	font-size:8px;
}

.lastnote {
	border-bottom: 1px #ddd solid;
	border-top: 1px #ddd solid;
	background-color:#eee;
	padding:2px;
}


textarea {
	padding:10px;
	width:754px;
	margin-top: 15px;
	border:3px solid #eee;
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
}


/* For the display information on the results page */

.outerinfo{
	text-align: left;
	padding:5px;
	width:1000px;
}

/* Block that covers all input field up "Last 20 items" */


tr:nth-child(even) {
    background-color:#ddd;
}


.customerTopLine {
	background-color: #ddd;
}

.customerBottomLine {
	background-color: #eee;
}

.product {
	background-color: steelblue;
	text-align: center;

}
/*Start entries for the results page*/

#product_results {
	margin-top: 35px;
	margin-left:120;
}

#newNote {
	background-color: #eee;
}

.checkinpage #secondNote{
	width:570px;
	border:1px solid #ddd;
}

.resultspage .title {
	margin-bottom: 50px;
	font-size: 13px;
	height:50px;
	background-color:#7f8c8d;
	color: #fff;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.resultspage .titleName {
	background-color:#7f8c8d;
	color:white;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

/*End entries for the results page*/


#delete {
	background-color:green;
}

/* Product sent on the checkoutpage */


.product_sent {
	background-color: steelblue;
	padding:none;
	width:100px;
	text-align: center;
	border-left:1px solid black;
}

.checkinpage .product {
	width:200px;
}

.checkinpage .checkinBox table{
	margin: 0 auto;
	font-size: 11px;
	height:50px;
	border-left:0;
	border-right:0;
	padding:0;
	margin:0;
	background-color: #eee;

}


.checkinpage textarea {
	width: 300px;
}

.checkinpage td {
	margin: 0 auto;
}

.checkinpage table {
	table-layout: fixed;
	width:600px;
	margin: 0 auto;
	border-spacing: 0;
	border-bottom:1px solid #ddd;
	-webkit-border-radius:1px;
	background-color: #eee;
}
/*Global submit button */
input[type=submit]{
	height:25px;
	font-size:13px;
	margin-top:10px;
	width:150px;
	background-color: steelblue;
	color:white;
	border: 1px solid black;
}


/*input style for checkout page */
input:not([type=submit]):not([type=file]) {
   height:40px;
   width:250px;
   font-size:24px;
   font-family: 'Open Sans', sans-serif;
   border:3px solid #eee;
}

/*textarea style for checkout page */
textarea#styled {
	height:35px;
    width:363px;
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
	border:3px solid #eee;
}


td {
	font-size: 11px;
	height:50px;
	border-left:0;
	border-right:0;
	padding:0;
	margin:0;
	background-color: #eee;

}

/* Global table headers */
th {
	color:#34495e;
	text-align: left;
	background-color: white;
	height: 25px;
	font-size: 12px;
}

/* Styling for notes on the results page */
.mynote {
	border-bottom: 1px #ddd solid;
	border-top: 1px #eee solid;
}




#lastItems {
	text-align:center;
	color:#bbb;
	margin-top:50px;
	margin-bottom:30px;
}


a:link{
	color:black;
	text-decoration: none;
}