body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin:0;
	padding:0;
}

a {
	color:#fff;
}

.resultspage .title {
	text-align: center;
}

a:visited{
	color:#000;
}

.checkoutpage #viewtable {
	margin: 0 auto;
	width:1000px;
	table-layout: fixed;
	margin: 0 auto;
	border-spacing: 0;
	-webkit-border-radius:10px;
}


.checkoutpage #checkin {
	margin: 0 auto;
	font-size: 9px;
	text-align: center;
	width:810px;
	min-width: 800px;
}

.checkoutpage td {
	background-color: red;
	border-bottom: 1px solid black;
}

.checkoutpage .resultdata {
	margin-top: 20px;
}

.checkoutpage td {
	font-size: 11px;
	height:50px;
	border-left:0;
	border-right:0;
	padding:0;
	margin:0;
	background-color: #eee;
}

.checkoutpage .product_sent {
	background-color: steelblue;
	padding:none;
	text-align: center;
	border-left:1px solid black;
}

.customerspage table {
	table-layout: fixed;
	width:1000px;
	margin: 0 auto;
	border-spacing: 0;
	border-bottom:1px solid #ddd;
	-webkit-border-radius:1px;
	background-color: #eee;
}

.customerspage #customerName {
	width:1000px;
	font-size: 25px;
	margin: 50px auto;
	color: maroon;
	padding:5px;
	text-align:left;
}

.transactioneditpage th {
	color:#34495e;
	text-align: left;
	background-color: white;

}

.transactioneditpage .groupedData {
	background-color: #F5F5DC;
	width:365px;
	margin:70px auto;
	border:5px solid #ECF0F1;
	padding:15px;
	border-radius:5px;
}

.nameedit .groupedData {
	background-color: #F5F5DC;
	width:465px;
	margin:70px auto;
	border:5px solid #ECF0F1;
	padding:15px;
	border-radius:5px;
}

.nameedit input:not([type=submit]):not([type=file]) {
	width: 400px;
}


.transactioneditpage input:not([type=submit]):not([type=file]) {
   height:20px;
   width:350px;
   font-size:12px;
   font-family: 'Open Sans', sans-serif;
   border:2px solid #eee;
}

.transactionform{
	font-size:10px;
}


.transactioneditpage select {
	height:20px;
	width:100%;
	float:right;
}



/*styling for the last 20 items on the checkout table*/


.resultspage table{
	table-layout: fixed;
	width:1000px;
	margin: 0 auto;
	border-spacing: 0;
	-webkit-border-radius:1px;
	background-color: #eee;
}

.resultspage td{
	border-bottom: 1px solid #ddd;
	padding:5px;
}

.productcheckin {
	text-align: center;
	color:white;
	background-color: steelblue;
	padding:none;
	width:100px;

}

.outgoingTracking {
	font-size:6px;
	font-weight: bold;
}

.incomingTracking {
	font-size:6px;
	font-weight: bold;
}


.outgoingTracking:hover{ 
	background-color: #eee;
	-webkit-transform: scale(2.0); 
	border:1px solid #ddd;
	text-align: center;
	padding:0px;
}


.incomingTracking:hover{ 
	background-color: #eee;
	-webkit-transform: scale(2.0); 
	border:1px solid #ddd;
	text-align: center;
	padding:0px;
}

.editbutton {
	padding:1px;
}

.lastnote {
	border-bottom: 1px #ddd solid;
	border-top: 1px #ddd solid;
	background-color:#eee;
	padding:2px;
}


textarea {
	padding:10px;
	width:754px;
	margin-top: 15px;
	border:3px solid #eee;
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
}


/* For the display information on the results page */

.outerinfo{
	text-align: left;
	padding:5px;
	width:1000px;
}

/* Block that covers all input field up "Last 20 items" */


tr:nth-child(even) {
    background-color:#ddd;
}


.customerTopLine {
	background-color: #ddd;
}

.customerBottomLine {
	background-color: #eee;
}

.product {
	background-color: steelblue;
	text-align: center;

}
/*Start entries for the results page*/

#product_results {
	margin-top: 35px;
	margin-left:120;
}

#newNote {
	background-color: #eee;
}

.checkinpage #secondNote{
	width:570px;
	border:1px solid #ddd;
}

.resultspage .title {
	margin-bottom: 50px;
	font-size: 13px;
	height:50px;
	background-color:#7f8c8d;
	color: #fff;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.resultspage .titleName {
	background-color:#7f8c8d;
	color:white;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.customerspage .name_edit {
	font-size: 10px;
	color:red;
}

/*End entries for the results page*/


#delete {
	background-color:green;
}

/* Product sent on the checkoutpage */


.product_sent {
	background-color: steelblue;
	padding:none;
	width:100px;
	text-align: center;
	border-left:1px solid black;
}

.checkinpage .product {
	width:200px;
	border-bottom:1px solid black;
}

.checkinpage .checkinBox{
	margin: 0 auto;
	font-size: 11px;
	height:50px;
	border-left:0;
	border-right:0;
	padding:0;
	margin:0;
	background-color: #eee;

}


.checkinpage textarea {
	width: 300px;
}

.checkinpage td {
	margin: 0 auto;
}

.checkinpage table {
	table-layout: fixed;
	width:600px;
	margin: 0 auto;
	border-spacing: 0;
	border-bottom:1px solid #ddd;
	-webkit-border-radius:1px;
	background-color: #eee;
}

#logo {
	text-align: left;
}
/*Global submit button */
input[type=submit]{
	height:25px;
	font-size:13px;
	margin-top:10px;
	width:150px;
	background-color: steelblue;
	color:white;
	border: 1px solid black;
}


/*input style for checkout page */
input:not([type=submit]):not([type=file]) {
   height:40px;
   width:250px;
   font-size:24px;
   font-family: 'Open Sans', sans-serif;
   border:3px solid #eee;
}

/* styling for buttons below checkin note */
.checkinpage input:not([type=submit]):not([type=file]) {
   height:10px;
   width:20px;
   font-size:24px;
   font-family: 'Open Sans', sans-serif;
   border:3px solid #eee;
}

/*textarea style for checkout page */
textarea.styled {
	height:35px;
    width:363px;
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
	border:3px solid #eee;
}


td {
	font-size: 11px;
	height:50px;
	border-left:0;
	border-right:0;
	padding:0;
	margin:0;
	background-color: #eee;

}

/* Global table headers */
th {
	color:#34495e;
	text-align: left;
	background-color: white;
	height: 25px;
	font-size: 12px;
}

/* Styling for notes on the results page */
.mynote {
	border-bottom: 1px #ddd solid;
	border-top: 1px #eee solid;
}




#lastItems {
	text-align:center;
	color:#bbb;
	margin-top:50px;
	margin-bottom:30px;
}


a:link{
	color:black;
	text-decoration: none;
}

#collectedLinks {
	text-align:center;
	margin-bottom:55px;
}

body {
	font-family: 'Open Sans', sans-serif;

}

.checkinpage table {
	width:500px;
	border-spacing: 0;
	margin: 0 auto;
	font-size: 11px;
	height:50px;
	border-left:0;
	border-right:0;
	padding:0;
	margin:0;
	background-color: #eee;
}

.checkinpage td {
	font-size: 11px;
	height:30px;
	border-left:0;
	border-right:0;
	padding:0;
	margin:0;
	background-color: #eee;
}

.checkinpage .container {
	font-size: 11px;
	padding:0;
	height:100%;
	width:500px;
	margin: 0 auto;
	margin-top:20px;
	border:1px solid black;
	-webkit-border-radius:2px;
	background-color: #eee;

}

.checkinpage textarea {
	width:470px;
	height:100px;

}

.checkinpage .product{
	background-color: steelblue;
	height:10px;
	width:200px;
	text-align: center;
}

.checkinpage #main {
	border-bottom:1px solid #ddd;
}

.checkinpage .note1 {
	padding:10px;
}

.checkinpage .newtext {
	text-align: center;
}


.checkinpage .current {
	text-align: center;
}

.checkinpage .info {
	background-color: black;
	font-size: 11px;
}


.checkinpage input[type=submit]{
	font-size:10px;
}

.movesubmit {
	margin-left:200px;
}

.checkinpage form {
	padding:3px;
}

.last3 {
	margin: 0 auto;
	width:500px;
	text-align: center;
}


.closeme {
	margin-left:350px;
}