#nav {
	width:700px;
	margin: 0 auto;
}

#collectedLinks {
	color:white;
	border-top: 2px solid steelblue;
	min-width:100px;
}

#collectedLinks > a {
	font-size: 11px;
	color:black;

}

#collectedLinks > a:hover {
	text-decoration: underline;
}


